<p class="titulo">{{ titulo }}</p>
<form [formGroup]="UsuariosForm.baseForm">
  <mat-form-field>
    <mat-label>Cedula</mat-label>
    <input matInput formControlName="cedula" [readonly]="!isCreate" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>apellido1</mat-label>
    <input type="text" matInput formControlName="apellido1" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>apellido2</mat-label>
    <input type="text" matInput formControlName="apellido2" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha Ingreso</mat-label>
    <input type="date" matInput formControlName="fecha_ingreso" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Correo Electronico</mat-label>
    <input type="text" matInput formControlName="correo" />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Rol</mat-label>
    <input type="tex" matInput formControlName="rol" />
  </mat-form-field>
</form>

<div>
  <button mat-button color="primary" (click)="guardar()">Guardar</button>
</div>
